@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Montserrat';
}

header {
    background-image: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    nav {
        img {
            width: 200px;

            @media (max-width:810px) {
                width: 200px;
                height: 200px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

        }

        @media (max-width:810px) {
            flex-direction: column;
        }

        ul {
            @media (max-width:420px) {
                flex-direction: column;
                text-align: center;
            }
        }

        ul li a {
            color: white;
            font-size: 30px;
            font-weight: 700;

            @media (max-width:600px) {
                font-size: 20px;
            }
        }
    }
}

main {
    .main__title {
        h2 {
            color: black;
            font-weight: 700;
            text-align: center;

            @media (max-width:560px) {
                width: 500px !important;
                text-align: center !important;
            }


            @media (max-width:510px) {
                width: 350px !important;
                text-align: center !important;
            }

            @media (max-width:350px) {
                font-size: 20px;
                width: 300px !important;
                text-align: center !important;
            }
        }
    }
}

footer {
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;

    @media (max-width:1000px) {
        height: 400px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 40px;

        @media (max-width:1000px) {
            flex-direction: column;
        }

        ul {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;

            h2 {
                font-size: 30px;
                color: white;
                font-weight: 700;
                text-align: center;

                @media (max-width:1085px) {
                    font-size: 25px;
                }
            }

            a {
                color: white;
                font-size: 30px;
                font-weight: 700;

                @media (max-width:1085px) {
                    font-size: 25px;
                }
            }
        }
    }
}